.studentQRs {
  display: none;

  &.show {
    display: flex;
    flex-wrap: wrap;

    .studentWithQR {
      display: block;
    }
  }

  .studentWithQR {
    display: none;
    padding-right: 20px;
    height: 33vh;

    p {
      text-align: center;
      margin: 0;
    }
  }
}
