.evaluations {
  .newEvalContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;
  }

  fieldset {
    margin-bottom: 20px;

    &.generalInfo {
      border-color: forestgreen;

      legend {
        background-color: forestgreen;
      }
    }

    &.scale {
      border-color: royalblue;

      legend {
        background-color: royalblue;
      }
    }
  }

  legend {
    color: white;
    padding: 3px 6px;
  }

  p {
    color: black;
    text-align: center;

    &.questionText {
      margin: 0;
      margin-top: 10px;
      text-align: left;
      text-decoration: underline;
    }
  }

  .questionInput.isModified {
    background-color: lightcyan;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px lightcyan;
  }

  .exerciseWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .exerciseUpDown {
      display: flex;
      text-decoration: none;
    }

    .exerciseText {
      margin: 0;
      text-align: left;
      text-decoration: underline red 2px;
      font-weight: bold;
      font-size: 22px;
    }
  }

  .radioButtonsContainer {
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .radioButton {
      margin: 5px 3px;
    }
  }

  .exerciseSummaryText {
    margin-bottom: 30px !important;
  }

  .addIconContainer,
  .addExerciseContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes enter {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 220px;
    }
  }

  .questionBlock {
    animation-name: enter;
    animation-duration: 0.3s;
  }

  .notAuthenticated {
    text-align: center;
    margin-top: 25%;
  }

  .groupDisplayContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > .xs {
      justify-content: flex-end;
    }

    .groupBtn {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}
