.evalForGroupDetails {
  .studentInQuestion {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  p {
    color: black;
    text-align: center;

    &.questionText {
      margin: 0;
      margin-top: 10px;
      text-align: left;
      text-decoration: underline;
    }
  }

  .radioButtonsContainer {
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .radioButton {
      margin: 5px 3px;
    }
  }

  .groupNotFound {
    text-align: center;
    margin-top: 25%;
  }

  h2 {
    margin: 30px 0;
  }

  .evalStatistics li {
    margin-bottom: 5px;
  }

  .bonusPenalty {
    margin: 20px 0;
    display: flex;

    & > div {
      flex-grow: 1;
    }
  }
}
