.groupDashboard {
  h2 {
    margin: 30px 0;
  }

  .groupNotFound {
    text-align: center;
    margin-top: 30%;
  }

  .evaluationSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.xs {
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-bottom: 10px;
      }

      .exportButton {
        margin-bottom: 20px;
      }
    }
  }

  .note20points {
    margin-top: 0;
  }

  .notAuthenticated {
    text-align: center;
    margin-top: 25%;
  }
}
