$navBarHeight: 60px;
$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;
$primaryColour: #9e1030;

.navBar {
  background-color: $primaryColour;
  box-shadow: 0 2px 4px 0 darkgrey;

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8000;
  }

  &.flat {
    box-shadow: none;
  }

  .navBarContainer {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: $navBarHeight;
  }

  .navIconButton {
    margin: 0 20px 0 8px;
    display: none;

    &:hover {
      background-color: #755139 !important;
    }

    &.showAlways {
      display: flex;
    }

    @media (max-width: $sm) {
      display: flex;
    }
  }

  .logoAndTitle {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    .logoContainer {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    .title {
      margin-left: 5px;
      color: white;
    }

    // Doesn't work if the menu button isn't shown (such as when the user isn't signed in
    // &.centerNavSmScreens {
    //   justify-content: center;

    //   @media (max-width: $sm) {
    //     left: -28px;
    //     flex-grow: 1;
    //   }
    // }
  }

  .avatar {
    display: none;
    margin-left: auto;

    @media (min-width: $sm) {
      display: flex;
    }
  }
}
