$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;

.container {
  @media (max-width: $xs) {
    padding: 0 3%;
  }

  @media (max-width: $sm) {
    padding: 0 5%;
  }

  @media (max-width: $md) {
    padding: 0 10%;
  }

  @media (max-width: $lg) {
    padding: 0 13%;
  }

  @media (min-width: $lg) {
    padding: 0 18%;
  }
}

.container.large {
  @media (max-width: $xs) {
    padding: 0 5%;
  }

  @media (max-width: $sm) {
    padding: 0 10%;
  }

  @media (max-width: $md) {
    padding: 0 15%;
  }

  @media (max-width: $lg) {
    padding: 0 20%;
  }

  @media (min-width: $lg) {
    padding: 0 25%;
  }
}

.container.narrow {
  padding: 0 20px;
}
